# APEX STATS Dataset
Prepared by Michelle Baca Reinke

## Source Attribution

Author: Data Copyright &copy; Syed Ali Taqi, All Rights Reserved

Title: World University Rankings 2023

Source: [World University Rankings 2023](https://www.kaggle.com/datasets/alitaqi000/world-university-rankings-2023/data)

License: Open Data Commons Open Database License (ODbL) v1.0

Changes: Data have been adapted for APEX STATS by Michelle Baca Reinke; data has been condensed and one variable with missing values has been removed in the example version

## Description of the Original Data

The World University Rankings 2023 dataset include 1,799 universities across 104 countries and regions, making them the largest and most diverse university rankings to date. The table is based on 13 carefully calibrated performance indicators that measure an institution’s performance across four areas: teaching, research, knowledge transfer and international outlook. This year’s ranking analyzed over 121 million citations across more than 15.5 million research publications and included survey responses from 40,000 scholars globally. Overall, we collected over 680,000 datapoints from more than 2,500 institutions that submitted data.

## Description of the Example

Access this example using the file `example.csv`.

The example file is a subset of the original data. Only the first 50 universities is included. The Female:Male Ratio column has been removed to eliminate missing values.

<br>

The following variables are included:

y: University Rank  
x: No of student  
x1: No of student per staff    
x2: International Student    
x3: Teaching Score    
x4: Research Score    
x5: Citations Score     
x6: Industry Income Score   
x7: International Outlook Score  
x8: OverAll Score   
x9: Name of University   
x10: Location   



Due to missing data for Female:Male Ratio, this variable was dropped.  

Subsetting the data to include only the first 50 universities resulted in cases 51 through 2341 being removed from the data file.   

The resulting data file has the university rank, number of students, number of students per staff,percentage of international students, category scores (teaching, research, citations, industry income, and international outlook), overall score, and university name and location.

## Discipline(s) Represented

- Education
- Economics
- Business

## Dataset Preview

In [ ]:
#@title Setup Example Data: Health Nutrition

# Import library
import pandas as pd

# Read data file: World University Rankings 2023
data = pd.read_csv('')

# Preview data
data.head()

                     y       x      x1      x2      x3      x4      x5
0          Afghanistan  64.833  60.484  55.376  49.640  42.585  36.900
1              Albania  78.573  76.221  73.587  71.860  69.991  66.689
2              Algeria  76.880  74.644  70.183  66.554  56.909  49.982
3               Angola  61.147  54.311  46.093  45.324  43.931  40.546
4  Antigua and Barbuda  77.016  75.683  73.705  71.267  68.154  65.616

## Exploratory Analyses (untested)

- Descriptively examine overall score by university
- Describe the distribution of industry income scores
- Look for a linear relationship between rank and number of students per teacher
- Look for a linear relationship between rank and industry income score
- Look for a linear relationship between international student percentage and international outcome score
- Compare the overall score by location


## Potential Activity Starters

- Data exclusion and cleaning; why were data missing for the gender ratio variable?
- Variability in outcomes; how do we quantify and interpret variability in each scoring category, and what is its implication?